* {
  box-sizing: border-box;
}

body.light {
  --bg-main: #ffffff;
  --bg-sidebar: #f8fafc;
  --bg-input: #ffffff;

  --text-main: #111827;
  --text-muted: #6b7280;

  --border-color: #e5e7eb;
  --item-hover: #eef2ff;
  --item-active: #e0e7ff;

  --button-bg: #111827;
  --button-text: #ffffff;
  --button-hover: #1f2937;

  --danger-bg: #dc2626;
  --danger-hover: #b91c1c;
  --danger-text: #ffffff;
}

body.dark {
  --bg-main: #111827;
  --bg-sidebar: #1f2937;
  --bg-input: #111827;

  --text-main: #f9fafb;
  --text-muted: #d1d5db;

  --border-color: #374151;
  --item-hover: #374151;
  --item-active: #4b5563;

  --button-bg: #f9fafb;
  --button-text: #111827;
  --button-hover: #e5e7eb;

  --danger-bg: #ef4444;
  --danger-hover: #dc2626;
  --danger-text: #ffffff;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-main);
  background: var(--bg-main);
}